<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/projects">✍️ <%= __('navbar.brand') %></a>

    <% if (currentUser) { %>
      <div class="d-flex gap-3">
        <a href="/projects" class="nav-link text-light"><%= __('navbar.projects') %></a>
        <a href="/search?q=" class="nav-link text-light"><%= __('navbar.search') %></a>
        <a href="/settings" class="nav-link text-light"><%= __('navbar.settings') %></a>
        <a href="/logout" class="nav-link text-danger"><%= __('navbar.logout') %></a>
      </div>
    <% } else { %>
      <div class="d-flex gap-3">
        <a href="/login" class="nav-link text-light"><%= __('navbar.login') %></a>
        <a href="/register" class="nav-link text-light"><%= __('navbar.register') %></a>
      </div>
    <% } %>
  </div>
</nav>
